@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-work {
  font-family: 'Work Sans';
  font-optical-sizing: auto;
  font-style: normal;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* shared style */
.display-flex{
     display: flex;
     
    
}
.btn-primary{
     padding: 1.25rem 1.5rem;
     background-color: #FF900E;
     color: #FFFFFF;
     border-radius: .5rem;
     border: none;
}
.common{
     width: 50%;
}
.common-text{
     font-size: 2.813rem;
}
.common-text-1{
     font-size: 1rem;
}
.header-bg{
     background-color: rgba(255, 144, 14, 0.10);
}
.btn-text{
     color: #FFFFFF;
}
.footer-bg{
     color: #FFF4E7;
}
.primary-d-1{
     color: #131313;
}
.primary-d-2{
    color: rgb(66, 66, 66);
}
.primary-d-3{
     color: rgb(114, 114, 114);
}
.figure-image{
     width: 100%;
}

/* header style */


/* navbar related style */
.nav-item{
     list-style: none;
     margin: 30px;
     
}

.nav-text{
     text-decoration: none;
   
}
.navbar{
     justify-content: space-between;
     align-items: center;
}
.banner{
     max-width: 1440px;
     margin: 0 auto;
}
.add-dark-2{
     font-weight: 500;
     font-size: 1.125rem;

}
.brand{
     font-weight: 700;
     font-size: 2.813rem;
}
/* banner related style */
.banner-div{
     max-width: 862px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 3.125rem;
}
.banner, .banner-div, .banner-title{
     font-size: 4rem;
     font-weight: bold;
}
.banner, .banner-div, .banner-des{
     font-size: 1rem;
    
}

/* responsive media query */
@media screen and (max-width: 576px) {
     .navbar, .nav-link{
          flex-direction: column;
     }
     .nav-item{
          margin: 0.438rem;
     }
}

/* feature-section */
.feature-section{
     max-width: 1000px;
     margin: 0 auto;
}
.feature-1{
     display: grid;
     grid-template-columns: repeat(2 ,1fr);
     gap: 1.5rem;
    
}
.majority{
     display: grid;
     grid-template-columns: repeat(2 ,1fr);
     align-items: center;
     gap: 4.563rem;
      margin: 8.125rem 0;
}
.feature-1, figure{
     margin: 0;
}
.majority, .our-text{
     color: rgb(19, 19, 19);
}
.majority, .alteration{
     color:rgb(255, 144, 14) ;

}
.majority, .Quick{
     color: rgb(114, 114, 114);
}
/* banner responsive media query */
@media screen and (max-width:576px) {
     .majority{
          grid-template-columns: repeat(1 ,1fr);
     }
     .feature-1{
          grid-template-columns: repeat(1 ,1fr);
     }
     .majority, .variations{
          text-align: center;
     }
     .majority, .variations, .btn-primary{
          margin: .6rem;
     }
}
/* year */

.available{
     display: flex;
     justify-content: space-between;
     gap: 140px;
     
}

.suffered{
     border-left: 5px solid rgb(255, 144, 14);
     padding-left: 21px;
}
.para-1{
     font-size:2.813rem;
     margin: 0px;
     font-weight: 700;
}
.para-2{
     font-size: 1rem;
     font-weight: 400;
}
.available{
     padding-left: 105px;
     padding-left: 105px;
}
.card{
     padding: 30px;
     border-radius: 8px;
margin-top: 20px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}
.card-1{
     font-size:1.25rem ;
     font-weight:600 ;

}
.Experience{
     padding: 20px ;
     border-radius: 8px;
     background-color:#FF900E;
    border: none;
    color: #FFFFFF;
    margin-left: -70px;
    margin-top: -77px;
    width: 100;
    height: 120px;
}
.text-5{
     font-size: 4.063rem;
     font-weight: 700;
}